<%
  const submitButtonParams = {
    buttonId       : 'portal_signin_button',
    buttonClass    : `w-full mt-4 flex justify-center bg-${locals.constants.colors.PORTAL_FORM_BUTTON_COLOR}-500 hover:bg-${locals.constants.colors.PORTAL_FORM_BUTTON_COLOR}-500 text-gray-100 p-3 rounded-lg tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500 pointer-events-none`,
    showGoogleAuth : false,
    buttonLabel    : locals.constants.loginPagePhrases.RESET_PASSWORD_BUTTON_LABEL,
    boxHeading     : locals.constants.loginPagePhrases.RESET_PASSWORD_BOX_HEADING,
    boxSubHeading  : locals.constants.loginPagePhrases.RESET_PASSWORD_BOX_SUB_HEADING,
    messagePart1   : locals.constants.loginPagePhrases.BACK_TO_LOGIN_FROM_RESET_PASSWORD_LABEL_1,
    messagePart2   : locals.constants.loginPagePhrases.BACK_TO_LOGIN_FROM_RESET_PASSWORD_LABEL_2,
    messagePart3   : locals.constants.loginPagePhrases.BACK_TO_LOGIN_FROM_RESET_PASSWORD_LABEL_3,
    linkHref       : "/login"
  };
%>

<%- include('../form_heading.ejs', submitButtonParams) %>

<div class="space-y-5">
  <%- include('../../components/toast_danger.ejs') %>
  <%- include('../../components/toast_success.ejs') %>
  
  <form id="userPortalForm" class="password-reset-req-form" name="userPortalForm" method="POST" action="/user/password-reset" >
    <%- include('./text-fields/email.ejs') %>
    <%- include('./other-fields/submit-button.ejs', submitButtonParams) %>
  </form>

  <%- include('../form_footer.ejs', submitButtonParams) %>
</div>
