<% 
  const email       = (locals?.resetUserEmail) ? locals.resetUserEmail : false;
  const emailAction = (locals?.resetUserEmail) ? 'disabled' : '';
%>

<div class="space-y-2">
  <label class="text-sm font-medium text-<%= locals.constantsLib.colors.PORTAL_FORM_LABEL_COLOR %>-700 tracking-wide"> <%- locals.constantsLib.loginPagePhrases.EMAIL_FIELD_LABEL %> </label>
  <input 
    name="login_email_field" 
    id="login_email_field" 
    class=" w-full text-sm px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400 pl-6" 
    type="" 
    <% if (email) { %>value="<%= email %>"<% } %>
    <% if (emailAction) { %> <%= emailAction %><% } %>
    placeholder="<%- locals.constantsLib.loginPagePhrases.EMAIL_FIELD_PLACEHOLDER %>"
    >
</div>
