<%- include('./form_heading.ejs') %>

<div class="space-y-5">
  <%- include('../components/toast_danger.ejs') %>

  <%- include('../components/toast_success.ejs') %>
  
  <form 
    id="userPortalForm" 
    name="userPortalForm" 
    method="POST" 
    action="<%- (locals.isLoginPage) ? '/login' : '/register' %>" 
    >
    
    <%- include('./email_and_password_fields.ejs') %>

    <%- include('./name_and_dob_fields.ejs') %>
    
    <%- include('./optional_actions.ejs') %>

    <%- include('./sign_in_button.ejs') %>
  </form>

  <%- include('./form_footer.ejs') %>
</div>
