
<div>
  <p class="text-gray-500 text-sm mt-2">
    <%- messagePart1 %> 
    <a 
      href="<%- linkHref %>" 
      rel="" 
      title="" 
      class="text-<%= locals.constantsLib.colors.PORTAL_PAGE_MAIN_COLOR %> text-<%= locals.constantsLib.colors.PORTAL_PAGE_MAIN_COLOR %>-500 "
      > 
        <%- messagePart2 %> 
    </a> 
    <%- messagePart3 || '' %> 
  </p>
</div>
