<div class="flex items-center justify-between">
  <div class="flex items-center mt-4">
    <% if(locals.isLoginPage) { %>
      <div class="hidden">
        <input id="remember_me" name="remember_me" type="checkbox" class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded">
        <label 
          for="remember_me" 
          class="ml-2 block text-sm text-<%= locals.constants.colors.PORTAL_FORM_LABEL_COLOR %>-800"
          > 
          <%- locals.constants.loginPagePhrases.REMEMBER_ME_LABEL %> 
        </label>
      </div>
    <% } %>
  </div>

  <div class="text-sm mt-2">
    <% if(locals.isLoginPage) { %>
      <a 
        href="#" 
        class="text-<%= locals.constants.colors.PORTAL_PAGE_MAIN_COLOR %>-400 hover:text-<%= locals.constants.colors.PORTAL_PAGE_MAIN_COLOR %>-500"
        >
        <%- locals.constants.loginPagePhrases.FORGET_PASSWORD_LABEL %>
      </a>
    <% } %>
  </div>
</div>
