<div class="pt-5 text-center text-gray-400 text-xs">
  <span>
    <%- locals.constantsLib.generalInfo.COPY_RIGHT_TEXT %>
    <a href="<%- locals.constantsLib.generalInfo.DEV_GITHUB_PROFILE %>" rel="" target="_blank" title="" class="text-<%= locals.constantsLib.colors.PORTAL_PAGE_MAIN_COLOR %> hover:text-<%= locals.constantsLib.colors.PORTAL_PAGE_MAIN_COLOR %>-500 "> <%- locals.constantsLib.generalInfo.DEV_USERNAME %> </a>
  </span>
</div>